body {
    margin: 0;
    background: black;
    color: white;
    font-family: "PixelifySans", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#textInput {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

@font-face {
    font-family: "PixelifySans";
    src: url("./static/PixelifySans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
